<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesatu.css">
    <title>{{title}}</title>
  </head>
  <body>
    <section id="pernikahan">
        <div id="slidePernikahan" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="wedding-bg.jpg" class="d-block w-100" alt="Gambar 1">
              <div class="carousel-caption d-none d-md-block">
                <h5>WEDDING INVITATION</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="wedding-bg.jpg" class="d-block w-100" alt="Gambar 2">
              <div class="carousel-caption d-none d-md-block">
                <h5>Bride & Groom</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="wedding-bg.jpg" class="d-block w-100" alt="Gambar 3">
              <div class="carousel-caption d-none d-md-block">
                <h5>Resepsi</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#slidePernikahan" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#slidePernikahan" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
    <section id="informasi" class="mt-4 mb-2 bg-white">
      <div class="container p-4">
        <div class="row">
          <div class="col-12">
            <h3 class="display-5 text-center">Informasi Mempelai Pria & Wanita</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
              <img src="../Alstar/img/about-img.jpg" alt="gambar1" class="img-thumbnail">
              <h4>Djafar Yusuf, SH <small>(Megi)</small></h4>
              <p>Putra tunggal dari bapak Harun Yusuf & Ibu Haliko Suli</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="../Alstar/img/about-img.jpg" alt="gambar1" class="img-thumbnail">
            <h4>Dian Rosmala Sari, SE <small>(Dian)</small></h4>
            Putri pertama dari bapak Latip Kapiso & Ibu Rosmiati Toliu
          </div>
        </div>
      </div>
    </section>
    <section id="resepsi" class="mt-4 mb-2 bg-gray">
      <div class="container p-4">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Resepsi</h3>
            <p>Grand Sumber Ria Ballrom</p>
            <p>Senin, 13 Januari 202</p>
            <p>Pukul : 19.00 Wita</p>
            <button class="btn btn-primary">Ingatkan Saya</button>
          </div>
        </div>
      </div>
    </section>
    <section id="galery" class="mt-4 mb-2 bg-skyblue">
      <div class="container p-4">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="section-heading">
              <h2>Galery</h2>
              <div class="heading-line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 cl-sm-4 col-md-4 col-g-4">
            <img src="../Alstar/img/about-img.jpg" alt="gambar1" class="img-thumbnail">
          </div>
          <div class="col-xs-12 cl-sm-4 col-md-4 col-g-4">
            <img src="../Alstar/img/about-img.jpg" alt="gambar1" class="img-thumbnail">
          </div>
          <div class="col-xs-12 cl-sm-4 col-md-4 col-g-4">
            <img src="../Alstar/img/about-img.jpg" alt="gambar1" class="img-thumbnail">
          </div>
        </div>
      </div>
    </section>
    <section id="berbahagia" class="pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h2 class="text-center">Kami Yang Berbahagia</h2>
              </div>
              <div class="card-body text-center">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                    <p>Kel. Bapak Harun Yusuf & Ibu Haliko Suli</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                    <p>Kel. Bapak Latip Kapiso & Ibu Rosmiati Toliu</p>
                  </div>
                  <div class="col-12">
                    <h1 class="display-4">Megi & Dian</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nav.js"></script>
  </body>
</html>