body, html,.bg-cover,.bagian-satu {
    height: 100%;
}
.bg-cover {
    background-image: url("wedding-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bagian-satu {
    background-color: rgba(0, 0, 0, 0.3);
}
.bagian-satu h1{
    border-right: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    line-height: 80px;
    color: #df4d58;
    font-weight: 800;
    text-shadow: 0 1px 0 rgba(0,0,0,0.54);
}
.bagian-satu h3{
    margin: 0;
    padding: 0;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0,0,0,0.54);
}

.bagian-satu h4{
    margin: 0;
    padding: 0;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    line-height: 65px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0,0,0,0.54);
}
.bagian-satu p{
    margin: 0;
    padding: 0;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0,0,0,0.54);
}
.jarak-top-1{
    padding-top:20vh;
}
.bg-gray {
    background: #f8f8f8;
}
.section-heading .heading-line {
    margin: 0 auto;
    display: block;
    height: 1px;
    width: 80px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}
.section-heading h2 {
    font-size: 38px;
    text-transform: uppercase;
}
#pernikahan .carousel-caption{
top :50px!important;
}