@font-face {
    font-family: 'Linux Libertine'; /* normal */
    src: url(../fonts/linux_libertine/LinLibertine_RBI.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine'; /* italic */
    src: url(../fonts/linux_libertine/LinLibertine_RI.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Linux Libertine'; /* bold */
    src: url(../fonts/linux_libertine/LinLibertine_RB.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LLBI'; /* bold */
    src: url(../fonts/linux_libertine/LinLibertine_aRL.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
}